__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
ENV/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
htmlcov/
*.egg-info/
.installed.cfg
*.egg
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/

.idea/
.vscode/

.git/
.gitignore

Dockerfile
docker-compose.yml
docker-compose.override.yml

.env*

.DS_Store
Thumbs.db

*.db
*.sqlite3


report/
junit/